# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# xcode project files
*.d
*.dia
xcode/build/*
*.dat
*.dep
*.xuserstate

# opencv
OpenCV-2.4.3/*
